@model TurboPiese.Models.Post
@{
    ViewBag.Title = "Afisare postare";
}
@if(Model.AdminApproved == true)
{
    <a class="btn btn-primary-custom" href="/Posts/Index/">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
        </svg> Inapoi
    </a>
}
else
{
    <a class="btn btn-primary-custom" href="/Posts/ApprovalsIndex/">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
        </svg> Inapoi
    </a>
}
<br />
<br />
<h2>@ViewBag.Title</h2>

<hr />
<div class="post_show full_width">

    <div class="post_content">
        <partial name="PostShow" model="Model" />
        @if ((ViewBag.AfisareButoane == true && Model.UserId == ViewBag.UserCurent) || ViewBag.EsteAdmin == true)
        {
            <div class="post_buttons">
                @if (Model.AdminApproved == true)
                {
                    <a class="btn btn-primary-custom" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                        </svg> Editează
                    </a>
                }
                else
                {
                    <form method="post" asp-controller="Posts" asp-action="Approve" asp-route-id="@Model.Id">
                        <button class="btn btn-primary-custom" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                            </svg> Aproba
                        </button>
                    </form>
                }
                <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">
                    <button class="btn btn-warning-custom" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg> Șterge
                    </button>
                </form>
            </div>
        }
    </div>

    @if (Model.Product.Stock > 0)
    {   
        <form method="post" asp-controller="Posts" asp-action="AddToCart">
            <input type="hidden" name="PostId" value="@Model.Id" />
            <div class="add_to_cart">
                <label for="Stock">Stocul pe care doriti sa il adaugati in cos</label>
                <input type="range" color="#3200AC" name="Stock" min="1" max="@Model.Product.Stock" value="1" oninput="this.nextElementSibling.value = this.value" />
                <input value="1" class="range-label" />
                <br />
                <input type="submit" class="btn btn-primary-custom" value="Adauga in Cos" />
            </div>
        </form>
    }

    @if (Model.AdminApproved == true)
    {
        @* Afisare comentarii impreuna cu butoanele de editare si stergere *@
        <br />

        @if (TempData.ContainsKey("message"))

        {
            <div class="mssg">
                @ViewBag.message
            </div>
        }
        @if (TempData.ContainsKey("error_message"))

        {
            <div class="error_mssg">
                @ViewBag.error_message
            </div>
        }
        <br />

        <div class="comments_section">
            @foreach (var comm in Model.Comments)
            {
                <div class="comment">
                    <p>@comm.Content</p>
                    <small>@comm.Date</small>
                    <br />
                    <small>Rating: @comm.Rating</small>
                    @if ((comm.UserId == ViewBag.UserCurent) || ViewBag.EsteAdmin == true)
                    {
                        <div class="comment_buttons">
                            <a class="btn btn-warning-custom" asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">
                                <i class="bi bi-pencil-square"></i> Editeaza
                            </a>
                            <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">
                                <button class="btn btn-warning-custom" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                            </form>
                        </div>
                    }
                </div>
            }
        </div>

        @* Afisarea formularului in care se poate adauga un comentariu *@
        <div class="add_comment">
            <form method="post" asp-controller="Posts" asp-action="Show">
                <input type="hidden" name="PostID" value="@Model.Id" />
                <label>Continut comentariu</label>
                <textarea class="form-control" name="Content"></textarea>
                <label>Rating</label>
                <input type="number" class="form-control" name="Rating" min="1" max="5" />
                <br />
                <button class="btn btn-primary-custom" type="submit">Adauga comentariul</button>
            </form>
        </div>
    }
</div>
